---
import Layout from "../layouts/Layout.astro";
import ColorsInput from "../components/ColorsInput.astro";
import RadioSelector from "../components/RadioSelector.astro";
import SamplePage from "../components/SamplePage.astro";
import ContrastChecker from "../components/ContrastChecker.astro";

let CVDs = [
	{ label: "Normal", value: "normal", id: "normal" },
	{ label: "Protanopia", value: "protanopia", id: "protanopia" },
	{ label: "Deuteranopia", value: "deuteranopia", id: "deuteranopia" },
	{ label: "Tritanopia", value: "tritanopia", id: "tritanopia" },
];
---

<Layout
	title="Covidesi - Color Vision Deficency Simulator"
	description="A color blindness simulator for developers so you can see how people with different color vision deficencies actually see the world, and your page."
>
	<main class="flex flex-col 2xl:flex-row">
		<!-- Small sample page with the controls -->
		<section class="w-full 2xl:w-1/2 p-4">
			<!-- Text and Background Color Inputs -->
			<div class="flex flex-col gap-6">
				<div
					class="flex flex-col gap-6 w-full justify-between items-center custom-920:flex-row custom-920:gap-0"
				>
					<ColorsInput />
					<ContrastChecker />
				</div>

				<!-- CVD Selector with severity -->
				<div
					class="cvd_selector flex flex-wrap gap-x-6 gap-y-6 w-full justify-between items-center text-2xl custom-920:flex-row custom-920:gap-x-0"
				>
					<RadioSelector
						items={CVDs}
						radiosName="cvds"
						inputsClass="font-bold border-2 border-slate-950 py-2 px-4 rounded-xl cursor-pointer hover:bg-slate-950 hover:text-slate-50 transition-[background-color_color]"
					/>
					<label class="flex gap-2 items-center">
						Severity:
						<input
							type="number"
							max="10"
							min="1"
							value="10"
							class="h-12 aspect-square pl-2"
						/>
					</label>
				</div>

				<!-- Sample embeded web page -->
				<SamplePage
					class="w-full flex-1 flex flex-col gap-6 border-2 border-slate-950 rounded-lg p-8"
				/>
			</div>
		</section>

		<!-- Banner & Buttons examples -->
		<section class="w-1/2"></section>
	</main>
</Layout>
