---
import Layout from "../layouts/Layout.astro";
import ColorInput from "../components/ColorInput.astro";
import RadioSelector from "../components/RadioSelector.astro";
import SamplePage from "../components/SamplePage.astro";

let CVDs = [
	{ label: "Normal", value: "normal", id: "normal" },
	{ label: "Protanopia", value: "protanopia", id: "protanopia" },
	{ label: "Deuteranopia", value: "deuteranopia", id: "deuteranopia" },
	{ label: "Tritanopia", value: "tritanopia", id: "tritanopia" },
];
---

<Layout
	title="Covidesi - Color Vision Deficency Simulator"
	description="A color blindness simulator for developers so you can see how people with different color vision deficencies actually see the world, and your page."
>
	<main class="flex flex-col lg:flex-row">
		<!-- Small sample page with the controls -->
		<section class="w-1/2 p-4">
			<!-- Text and Background Color Inputs -->
			<div class="flex flex-col gap-6">
				<div class="flex w-full justify-between">
					<ColorInput
						id="text-color"
						label="Text"
						value="#000000"
						class="flex gap-2 text-3xl"
					/>
					<ColorInput
						id="bg-color"
						label="Background"
						value="#FFFFFF"
						class="flex gap-2 text-3xl"
					/>
				</div>

				<!-- CVD Selector with severity -->
				<div
					class="cvd_selector flex w-full justify-between items-center text-2xl"
				>
					<RadioSelector
						items={CVDs}
						radiosName="cvds"
						inputsClass="border-2 border-slate-950 py-2 px-4 rounded-xl cursor-pointer hover:bg-slate-950 hover:text-slate-100 transition-[background-color_color]"
					/>
					<label class="flex gap-2 items-center">
						Severity:
						<input
							type="number"
							max="10"
							min="1"
							value="10"
							class="h-12 aspect-square pl-2"
						/>
					</label>
				</div>

				<!-- Sample embeded web page -->
				<SamplePage
					class="w-full flex-1 flex flex-col gap-6 border-2 border-slate-950 rounded-lg p-8"
				/>
			</div>
		</section>

		<!-- Banner & Buttons examples -->
		<section class="w-1/2"></section>
	</main>
</Layout>
