---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div class={className}>
	<span class="text-3xl">Contrast Ratio:</span>
	<span id="contrast-ratio" class="font-bold text-3xl">21</span>
</div>

<script>
	const cc = document.getElementById("contrast-ratio");
	import { bgColor, textColor } from "../stores/colors";
	import { calculateContrastRatio } from "../utils";

	// Subscribe to the changes with the sample page colors
	bgColor.subscribe((v, ov) => {
		cc.innerText = calculateContrastRatio(v, textColor.get()).toFixed(2);
	});
	textColor.subscribe((v, ov) => {
		cc.innerText = calculateContrastRatio(v, bgColor.get()).toFixed(2);
	});
</script>
