---
import RadioSelector from "../components/RadioSelector.astro";
import { CVD } from "../constants";

let CVDs = [
	{ label: CVD.NORMAL, value: CVD.NORMAL, id: "normal" },
	{ label: CVD.PROTANOPIA, value: CVD.PROTANOPIA, id: "protanopia" },
	{ label: CVD.DEUTERANOPIA, value: CVD.DEUTERANOPIA, id: "deuteranopia" },
	{ label: CVD.TRITANOPIA, value: CVD.TRITANOPIA, id: "tritanopia" },
];
---

<div
	class="cvd_selector flex flex-wrap gap-x-6 gap-y-6 w-full justify-between items-center text-2xl custom-920:flex-row custom-920:gap-x-0"
>
	<RadioSelector
		items={CVDs}
		radiosName="cvds"
		inputsClass="font-bold border-2 border-slate-950 py-2 px-4 rounded-xl cursor-pointer hover:bg-slate-950 hover:text-slate-50 transition-[background-color,color] has-[:checked]:bg-slate-950 has-[:checked]:text-slate-50"
	/>
	<label class="flex gap-2 items-center">
		Severity:
		<input
			id="severity"
			type="number"
			max="10"
			min="1"
			value="10"
			class="h-12 aspect-square pl-2"
		/>
	</label>
</div>

<script>
	import {
		textColor,
		bgColor,
		setCvdTextColor,
		setCvdBgColor,
	} from "../stores/colors";
	import { cvd, setCvd, setCvdSeverity } from "../stores/cvd";
	import { rgb2hex, calculateColorByCvd, clampSeverity } from "../utils";

	let sevInp = document.getElementById("severity");
	let radios = document.getElementsByName("cvds");

	sevInp.addEventListener("change", (e) => {
		setCvdSeverity(clampSeverity(e.target.value));
	});

	radios.forEach((r) => {
		r.addEventListener("click", (e) => {
			setCvd(e.target.value);
		});
	});

	// When either of the colors or the cvd changes, calculate colors again
	textColor.subscribe((v, ov) => {
		setCvdTextColor(
			rgb2hex(
				calculateColorByCvd(
					cvd.get().cvd,
					cvd.get().severity,
					textColor.get(),
				),
			),
		);
	});

	bgColor.subscribe((v, ov) => {
		setCvdBgColor(
			rgb2hex(
				calculateColorByCvd(
					cvd.get().cvd,
					cvd.get().severity,
					bgColor.get(),
				),
			),
		);
	});

	cvd.subscribe((v, ov) => {
		setCvdTextColor(
			rgb2hex(calculateColorByCvd(v.cvd, v.severity, textColor.get())),
		);
		setCvdBgColor(
			rgb2hex(calculateColorByCvd(v.cvd, v.severity, bgColor.get())),
		);
	});
</script>
