---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-white text-black">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="min-w-screen max-w-screen h-fit min-h-screen px-16 py-12">
		<h1 class="max-w-full font-bold text-center text-6xl">COVIDESI</h1>
		<h2 class="max-w-full font-bold text-center text-2xl mb-8">
			Color Vision Deficency Simulator
		</h2>
		<slot />
	</body>
</html>
